@charset "UTF-8";

  .box {
    width: 400px;
    height: 400px;
    background: #ff0000;
    margin: 0 auto;
  }

  .q2-box {
    width: 300px;
    height: 300px;
    background: #ff0000;
    margin: 0 auto;
  }

  .q3 {
    display: flex;
    justify-content: center;
  }

  .q3-box-blue {
    width: 400px;
    height: 400px;
    background: #0008ff;
    margin-right: 150px;
  }

  .q3-box-green {
    width: 400px;
    height: 400px;
    background: #22ff00;
  }


  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .q4 {
    width: 800px;
    margin: auto;
  }

  .q4-box-red {
    background: #ff0000;
    width: 400px;
    height: 400px;
    float: left;
  }

  .q4-box-blue {
    background: #0008ff;
    width: 400px;
    height: 400px;
    float: left;
  }

  .q5 {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .q5-box-red {
    background: #ff0000;
    width: 400px;
    height: 400px;
    position: relative;
  }

  .q5-box-blue {
    background: #0008ff;
    width: 400px;
    height: 400px;
    position: relative;
  }

  .q5-box-orange {
    background-color: #ff8400;
    width: 400px;
    height: 400px;
    flex-direction: row-reverse;
    position: relative;
  }

  .q6 {
    display: flex;
    justify-content: center;
  }

  .q6-box-green {
    background-color: #00ff51;
    width: 400px;
    height: 400px;
    order: 1;
    position: relative;
  }

  .q6-box-yellow {
    background-color: #d4ff00;
    width: 400px;
    height: 400px;
    order: 2;
    position: relative;
  }
  .q6-box-pink {
    background-color: #ff00e1;
    width: 400px;
    height: 400px;
    order: 3;
    position: relative;
  }

  p {
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
  }

  .q7 {
    display: flex;
    justify-content: center;
  }

  .q7-box-red {
    background: #ff0000;
    width: 400px;
    height: 400px;
    display: block;
  }

  .q7-box-blue {
    background: #0008ff;
    width: 400px;
    height: 400px;
    display: none;
  }

  .q7-box-green {
    background: #22ff00;
    width: 400px;
    height: 400px;
    display: block;
  }


@media screen and (max-width: 960px) {

.box {
  width: 200px;
  height: 200px;
}

.q2-box {
  background: #007bff;
  width: 300px;
  height: 300px;
}


.q3-box-blue {
  margin-right: 50px;
}


.q4-box-red {
  float: none;
}

.q4-box-blue {
  float: none;
}

.q5 {
  flex-direction: row-reverse;
}

.q6-box-green {
  order: 2;
}

  .q6-box-yellow {
    order: 3;
  }

  .q6-box-pink {
    order: 1;
  }

  .q7-box-red {
    display: none;
  }

  .q7-box-blue {
    display: block;
  }

  .q7-box-green {
    display: block;
  }

}

